DB_HOST=localhost
DB_PORT=3306
USUARIO_DO_BANCO_DE_DADOS=seu_usuario
SENHA_DO_BANCO_DE_DADOS=sua_senha
NOME_DO_BANCO_DE_DADOS=nome_do_banco
JWT_SECRET=sua_chave_secreta
URL_FRONTEND=http://localhost:5173
USUARIO_DE_EMAIL=seu_email@gmail.com
SENHA_DE_EMAIL=sua_senha_de_app
